*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
.web-bg{
  position: absolute;
}
.page-bg1{
  right: 0;
  top: 0;
  z-index: -9;
}
.page-bg2{
  top: 222px;
}
.page-bg3{
  right: 0;
  top: 100%;
  z-index:-9;
}
.page-bg4{
  right: 0;
  top:150%;
  z-index: -9;
}
.page-bg5{
  left: 0;
  top: 340%;
  z-index: -9;
}
.page-bg6{
  right: 0;
  top: 590%;
  z-index: -9;
}
.page-bg7{
  right: 0;
  top: 890%;
  z-index: -9;
}
/*.home{
  background-image: url(./imgs/bg1.png);
  background-position:top 0 right 0;
  background-repeat: no-repeat;
  background-size: contain 300px;
}*/
